@model IEnumerable<CoffeeShopProject.Models.Products>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<p> 
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alcohol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ptime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numordered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saleprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.alcohol)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ptime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numordered)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.saleprice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sale)
    </td>
    <td>
        @Html.ActionLink("Add to cart", "Edit", new { id = item.name })
    </td>
</tr>
    }

</table>
